<form [formGroup]="ticketForm">
  <ng-container *ngIf="!!(ticketId$ | async)">
    <h2>Editing Ticket #{{ ticketId$ | async }}</h2>
    <div class="form-group">
      <label>Assignee</label>
      <select class="form-control"
              formControlName="assigneeId">
        <option value="">(Select a user)</option>
        <option *ngFor="let user of users$|async"
                [value]="user.id">{{ user?.name }}</option>
      </select>
    </div>
  </ng-container>
  <ng-container *ngIf="!(ticketId$ | async)">
    <h2>Editing Ticket</h2>
  </ng-container>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control"
              [readOnly]="!!(ticket$ | async) || (isBusy$ | async)"
              formControlName="description"></textarea>
  </div>
  <div class="actions">
    <button class="btn btn-outline-success"
            [disabled]="ticketForm.invalid || (isBusy$ | async)"
            (click)="submit(ticketForm.value)">Save</button>
    <button class="btn btn-outline-danger"
            routerLink="/tickets">Cancel</button>
  </div>
</form>